host: "localhost"
port: {{ matrix__cfg.regui.listen_port }}
base_url: /regui

# Yes, that's three slashes even before the root slash
db: "sqlite:///{{ matrix__cfg.data_dir }}/regui/db.sqlite3"

# The Matrix server
server_name: "{{ matrix__cfg.domain_identity }}"
server_location: "http://localhost:{{ matrix__cfg.dendrite_listen_port }}"

registration_shared_secret: "{{ matrix__cfg.registration_shared_secret }}"
admin_api_shared_secret: "{{ matrix__cfg.regui.admin_password }}"

client_redirect: "https://{{ matrix__cfg.element.domain }}/#/login"
client_logo: "static/images/element-logo.png"

# security
rate_limit: ["100 per day", "10 per minute"]
allow_cors: false
ip_logging: true

logging:
  disable_existing_loggers: false
  version: 1
  root:
    level: DEBUG
    handlers: [console]
  formatters:
    brief:
      format: '%(name)s - %(levelname)s - %(message)s'
    precise:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  handlers:
    # Removed the default file-based handler -- sending everything to
    # stdout, where it is redirected to a rotated log file.
    console:
      class: logging.StreamHandler
      level: INFO
      formatter: precise
      stream: ext://sys.stdout

# password requirements
password:
  min_length: 8

# username requirements
username:
  validation_regex: [] #list of regexes name must match
  # Reserve usernames beginning with underscore for admin/system use.
  invalidation_regex: ["^_"] #list of regexes name must *not* match
