SERVER_USER=sandstorm
UPDATE_CHANNEL=dev
ALLOW_DEV_ACCOUNTS=false

MONGO_PORT=6081

BIND_IP=0.0.0.0
PORT=6080
# HTTPS_PORT=6443

BASE_URL=https://{{ sandstorm_base_domain }}
WILDCARD_HOST=*.{{ sandstorm_base_domain }}
# SANDCATS_BASE_DOMAIN=sandcats.io
