[Unit]
Description=Community Data: LUKS-encrypted partition

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/opt/commapps/encfs/luks/unlock.sh
ExecStop=/opt/commapps/encfs/luks/lock.sh
