# Ansible junk
/*.retry

# Virtualenvs
/.venv*/

# Ansible Galaxy downloads
/.ansible-galaxy/

# Encrypted secrets live in vault.yml under role vars, and potentially
# group_vars and host_vars in the future.
# Also include vault.yaml in case I misname the file.
vault.yml
vault.yaml
